@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typing-animation {
  white-space: normal;
  animation: fadeIn 3s ease-in-out;
}

.typing-animation-delay {
  white-space: normal;
  animation: fadeIn 3s ease-in-out;
  animation-delay: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}