@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typing-animation {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end);
}

.typing-animation-delay {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end);
  animation-delay: 1s;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
}